version: '3.8'

volumes:
  pg_data_production:
  static_volume:
  media_volume:

services:
  db:
    image: postgres:13.10
    env_file: .env
    volumes:
      - pg_data_production:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}

  backend:
    image: gevork23/kittygram_backend:latest
    env_file: .env
    volumes:
      - static_volume:/app/collected_static
      - media_volume:/app/media
    depends_on:
      - db

  frontend:
    image: gevork23/kittygram_frontend:latest
    volumes:
      - static_volume:/app/build/
    command: cp -r /app/build/. /app/collected_static/

  gateway:
    image: gevork23/kittygram_gateway:latest
    ports:
      - "9000:80"
    volumes:
      - static_volume:/static
      - media_volume:/media
    depends_on:
      - backend
      - frontend