services:
  db:
    image: postgres:13.10
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}

  backend:
    build: ./backend/
    env_file: .env
    volumes:
      - static:/app/collected_static  # Для collectstatic
      - media:/app/media              # Для медиа файлов
    depends_on:
      - db
    command: >
      sh -c "python manage.py migrate --noinput &&
             python manage.py collectstatic --noinput &&
             gunicorn --bind 0.0.0.0:8000 kittygram_backend.wsgi"

  frontend:
    build: ./frontend/
    volumes:
      - static:/app/collected_static  # Исправлено
    command: >
      sh -c "cp -r /app/build/. /app/collected_static/ &&
             echo 'Frontend files copied'"
    depends_on:
      - backend

  gateway:
    build: ./nginx/
    ports:
      - "9000:80"
    volumes:
      - static:/static  # Nginx будет искать статику здесь
      - media:/media
    depends_on:
      - backend
      - frontend

volumes:
  pg_data:
  static:
  media: