version: '3.8'

volumes:
  pg_data:
  django_static_volume:
  media:

services:
  db:
    image: postgres:13.10
    env_file: .env
    volumes:
      - pg_data:/var/lib/postgresql/data
    environment:
      POSTGRES_DB: ${POSTGRES_DB}
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}

  backend:
    build: ./backend/
    env_file: .env
    volumes:
      - django_static_volume:/app/static
      - media:/app/media
    command: >
      sh -c "python manage.py migrate --noinput &&
             python manage.py collectstatic --noinput &&
             cp -r /app/collected_static/. /app/static/ &&
             gunicorn kittygram_backend.wsgi:application --bind 0.0.0.0:8000"
    depends_on:
      - db

  frontend:
    build: ./frontend/
    volumes:
      - django_static_volume:/usr/share/nginx/html/static/
    ports:
      - "9000:80"